/* 1. don't modify this style */
@font-face {
  font-family: poppinsBold;
  src: url("..//assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppinsRegular;
  src: url("..//assets/fonts/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: poppinsRegular;
}


/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --blueGradiant: #3B2A9F;
  --primary-100: #5141AA;
  --secondary: #FA8305;
  --box_bg: #1C140F;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}


/* good luck */

body {
  background-color: var(--blueGradiant);
}
/* ----------HEADER---------- */
.header {
  background-color: var(--blueGradiant);
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head_Item {
  color: white;
  text-decoration: none;
  margin: 20px;
  transition: ease 80ms;
}

.head_Item:hover {
  font-size: 120%;
}
.head_btn {
  color: white;
  padding:  10px 16px;
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  transition: ease 80ms;
}
.head_btn:hover {
  scale: 120%;
}
.current_Item {
  font-family: poppinsBold;
  color: white;
  text-decoration: none;
  margin: 20px;
  padding: 6px;
  border-bottom: var(--secondary);
  border-bottom-style: solid;
  border-width: 5px;
  border-radius: 2px;
  transition: ease 80ms;
}
.current_Item:hover {
  font-size: 120%;
}

/* ----------MAIN---------- */
.upper_Main {
  background-color: var(--blueGradiant);
  color: white;
  display: flex;
  justify-content: space-around ;
  padding: 40px 200px; 
  margin-bottom: 100px;
}

/* ----------UPPER SECTION---------- */
.povered_me {
  font-family: poppinsBold;
  margin-bottom: 20px;
  color: var(--secondary);
}
.btn_GetDetails{
  color: white;
  padding:  10px 16px;
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  border-radius: 20px;
  transition: ease 80ms;
}
.btn_GetDetails:hover {
  scale: 120%;
}

/* ----------SECTION 2---------- */

.title_Section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn_SeeAll {
  background-color: var(--primary-100);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: ease 80ms;
}
.btn_SeeAll:hover {
  scale: 120%;
}

.section2 {
  background-color: var(--blueGradiant);
  padding: 0px 20px;
}
.image_Cards {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  /* transition: ease 50ms; */
}
/* .image_Cards:hover{
  opacity: 75%;
} */

.cards {
  display: flex;
  justify-content: center;
  list-style: none;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease 50ms;
}
.card:hover{
  scale: 110%;
  opacity: 75%;
}
.card_Subtitle {
  margin-top: 20px;
  color: white;
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
  /* transition: ease 50ms; */
}
/* .card_Subtitle:hover {
  scale: 120%;
} */
.each_Card {
  margin: 0px 10px;
}

/* ----------SECTION 3---------- */

.section {
  background-color: var(--blueGradiant);

}
.title3 {
  font-family: poppinsBold;
  text-align: center;
  font-size: 60px;
  padding-top: 100px;
  color: white;
}
.main_Section3 {
  margin-top: 100px;
  margin-left: 300px;
}
.img_cover {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image_Cover {
  width: 1100px;
  height: 460px;
  object-fit: cover;
  object-position: 0px -15px;
  border-radius: 30px;
}

/* ----------SECTION 4---------- */

.title4 {
  text-align: center;
  padding-top: 100px;
  color: white;
  margin-bottom: 40px;
}
.image_grid1 {
  width: 380px;
  height: 220px;
  border-radius: 25px;
  padding: 10px;
  object-fit: cover;
}
.image_grid2 {
  width: 240px;
  height: 220px;
  border-radius: 25px;
  padding: 10px;
  object-fit: cover;
}
.image_grid3 {
  width: 450px;
  height: 220px;
  border-radius: 25px;
  padding: 10px;
  object-fit: cover;
}
.grid_Image {
  display: flex;
  justify-content: center;
}

/* ----------SECTION 5---------- */
.card_Black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--box_bg);
  padding: 30px 60px;
  border-radius: 20px;
  margin: 30px 280px;
}
.search_bar {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
}

/* ----------Footer---------- */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 40px 100px ;
}
.internet {
  background-color: white;
  padding: 10px;
  width: 50px;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  transition: ease 50ms;
}
.internet:hover{
  scale: 120%;;
}